.projects {
  width: 100%;
  padding: 1rem 10rem;
  /*   background-color: rgb(92, 92, 92);
 */
  display: flex;
  gap: 1rem;
  overflow: scroll;
}

.projects::-webkit-scrollbar {
  width: 0.5rem;
  height: 0;
}

.projects .box img {
  /*   height: 90%;
 */
  height: 20rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 1rem;
}
