.gallery-wrapper {
  position: inherit;
  width: 100%;
  overflow: hidden;
  height: 60vmin;
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 25%;
  top: 0%;
  transform: translate(0%, -50%);
  user-select: none;
  position: relative;
  margin-top: 30vmin;
  margin-bottom: 10vmin;
}

#image-track > .image {
  width: 50vmin;
  height: 50vmin;
  object-fit: cover;
  object-position: 100% center;
  border-radius: 0.5rem;
  object-position: center;
}

#image-track > .image:last-child {
  opacity: 0;
}

.projects {
  font-family: sans-serif;
  margin: 1rem 0;
  text-align: center;
  font-size: 1.75rem;
}
