.about {
  width: 80vw;
  margin: 3rem auto;
  gap: 2rem;
  display: flex;
}

.about .box {
  background-color: rgb(210, 210, 210);
  border-radius: 1rem;
  padding: 1.5rem;
  box-sizing: border-box;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about .box:hover {
  background-color: rgb(206, 206, 206);
  box-shadow: 0.5rem 0.5rem rgb(146, 146, 146);
  transform: translate(-0.5rem, -0.5rem);
}
