.text {
  font-family: "Six Caps", sans-serif;
  text-transform: uppercase;
  line-height: 67.5rem;
  text-align: center;
  font-size: 60rem;
  user-select: none;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.unsplash.com/photo-1483653364400-eedcfb9f1f88?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  -webkit-background-clip: text;
  background-attachment: fixed;
  background-position: 0, 0;
  -webkit-text-fill-color: transparent;
  animation-name: fade-in;
  animation-duration: 1s;
}

.mini-text {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  font-size: 2rem;
  color: black;
  -webkit-text-fill-color: black;
  height: fit-content;
  font-family: sans-serif;
  line-height: 5rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.75rem;
}

@keyframes fade-in {
  0% {
    margin-top: 10rem;
    opacity: 0;
  }
  100% {
    margin-top: 2rem;
    opacity: 1;
  }
}
